body {
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results > div {
    background-color: #f1f1f1;
    width: 170px;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
}

#results .best-time {
    all: unset;
    width: 170px;
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: red;
}

#results .time {
    all: unset;
    width: 170px;
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: blue;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
}

.pictures {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 404px;
    height: 542px;
    padding: 5px;
    /*margin: 0;*/
}

.pictures.picture {
    /*border: 1px solid black;*/
    width: 128px;
    height: 128px;
    padding: 0;
}

